@model IEnumerable<rplwork_client.ViewModels.ProjectViewModel>
    <div class="row g-3">
        @foreach (var item in Model) {
        @await Html.PartialAsync("Project/_Details", item)
        }
    </div>
