@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ryan Lynch's Portfolio Site</h1>
    <p>Thanks for visiting! Please take a look at some software I've built or had a hand in. Accepting professional inquires via <a href="https://www.linkedin.com/in/ryan-p-lynch/">my LinkedIn</a>.</p>
    @await Component.InvokeAsync("Project")
</div>
